
body {
    background-color: #f5f5f5;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.headline {
    margin-top: 20px;
    margin-bottom: 20px;
}

.width100 {
    width: 100%;
}

.hidden {
    display: none;
}
